*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color:#F2E6CE;
}
.fundo_menu{
    height: 600px;
    background-image: url("imagens/imagem_menu.jpg");
    background-size: cover;
    background-position: center;
}
.fundo_barra_navegaçao{
    background-color:rgba(140, 39, 58, 0.8);
    height: 100px;
}
.barra_navegaçao{
    display:flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.logo{
    text-align: center;
    margin-left: 10%;
}
.logo h1{
    color:#F2E6CE;
    font-family: 'fantasy';
    font-size: 36px;
}
.menu{
    flex:70%;
    text-align: right;
}
.menu a{
    margin-right: 5%;
    text-decoration: none;
    color:#F2E6CE;
    font-size:24px;
    padding:15px 10px;
}
.menu a:hover{
    color:#D95F5F;
    border-top: 4px solid #D95F5F
}
.headline{
    margin-left:10%;
    flex:40%;
    margin-top: 170px;
}
.headline h2{
    font-weight:900;
    font-size:30px;
    color:#FFF8D9;
    padding:0;
    margin:0;
}
.contact-btn{
    background: #8c273a;
    padding: 15px 30px;
    color:#FFF8D9;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    position: absolute; 
    margin-top: 15px;
}
.contact-btn:hover{
    background: #FFF8D9;
    color: #8c273a; 
}
section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family:'fantasy';
    font-weight: bolder;
    color:#8c273a
}
.serviços{
    display: inline-block;
    margin-top:5%;

}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin:1%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background:#8c273a;
    color:#FFF8D9;
    padding: 40px;
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display:block
}
.card-simples-escuro{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin:1%;
    background:#8c273a;
    color:#FFF8D9;
    border-radius: 10px;
    cursor: pointer;
}
.card-simples-claro{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin:1%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
    display: none;
}
footer{
    margin-top: 100px;
    height: 300px;
    background-image:linear-gradient(180deg,#f1a2b1 ,#ad344aba,#420f18 );
    text-align: center;
    border-top: 2px solid #8c273a ;
}
.logo-rodape{
    padding: 100px;
}
.materia{
    color:#F2E6CE;
    font-family: 'fantasy';
    font-size: 36px;
}