@media screen and (max-width:1005px){
    .logo{
        margin:0;
        text-align: center;
    }
    .fundo_barra_navegaçao{
        position: relative;
    }
    .menu{
        display:none;
    }
    .headline{
        flex:100%;
        margin:5%;
        text-align: center;
    }
    .card{
        width: 100%;
    }
    .card-simples-claro{
        width: 100%;
    }
    .contact-btn{
        top: 75%; 
        left: 37%;
    }
}